# Python által generált fájlok
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtuális környezetek
.env/
.venv/
venv/
ENV/

# Jupyter notebook checkpointok
.ipynb_checkpoints

# IDE/Editor fájlok
.vscode/
.idea/

# OS specifikus fájlok
.DS_Store
Thumbs.db

# Saját titkos fájlok (NE kerüljenek fel GitHubra)
open ai kulcs.txt
open ai kulcs másolata.txt
type.env
*.env

# Logok, cache
*.log
*.pot
*.pyc
*.tmp
*.cache/
